<nav>
  <div class="container">
    <ul>
      <li><a href="{{ url_for('index') }}">Files</a></li>
      {% if current_user.is_authenticated %}
        {% if current_user.upload %}
          <li><a href="{{ url_for('upload') }}">Upload</a></li>
        {% endif %}
        {% if current_user.admin %}
          <li><a href="{{ url_for('tokens') }}">Tokens</a></li>
        {% endif %}
        <li><a href="{{ url_for('logout') }}">Log out</a></li>
      {% else %}
        <li><a href="{{ url_for('login') }}">Log in</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
