{% extends '_base.html' %}
{% from '_macros.html' import form_errors with context %}
{% from '_macros.html' import script %}
{% block title %}Create Token{% endblock %}
{% block head %}
  {{ super() }}
  {{ script('messages') }}
{% endblock %}
{% block body %}
  {% include '_navbar.html' %}
  <div class="container">
    {% include '_messages.html' %}
    <form action="{{ url_for('create_token') }}" method="POST">
      {{ form.csrf_token }}
      <p>
        {{ form.token.label }}
        {{ form.token(class_='u-full-width') }}
        {{ form_errors('token') }}
      </p>
      <p>
        {{ form.permission.label }}
        {{ form.permission() }}
        {{ form_errors('permission') }}
      </p>
      <p>
        {{ form.expires.label }}
        {{ form.expires(
          placeholder='YYYY-MM-DD',
          title='Leave blank for no expiration',
        ) }}
        {{ form_errors('expires') }}
        <em class="u-cf">Leave this field blank to create a token that doesn't expire.</em>
      </p>
      <p><input type="submit" value="Create token"></p>
    </form>
  </div>
{% endblock %}
