{% extends '_base.html' %}
{% from '_macros.html' import script %}
{% block title %}Upload{% endblock %}
{% block head %}
  {{ super() }}
  {{ script('upload') }}
{% endblock %}
{% block body %}
  {% include '_navbar.html' %}
  <div class="container">
    <h1>Upload</h1>
    <form action="{{ url_for('upload') }}" method="POST"
      enctype="multipart/form-data">
      {{ form.csrf_token }}
      <p>{{ form.file.label }} {{ form.file() }}</p>
      <p><input type="submit" value="Start upload"></p>
    </form>
  </div>
{% endblock %}